body {
  color: #000;
}

#container {
  text-align: center;
  height: auto;
  margin: 0 auto;
}

#container .title {
  text-align: center;
  padding-top: 50px;
}

#container .title img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#container .title .des {
  margin-top: 20px;
  font-size: 20px;
}

#container .title hr {
  margin: 20px 0;
}

#container .list .sort .item {
  text-align: center;
  margin: 20px 0;
  line-height: 24px;
}

#container .list .sort .item a {
  margin: 10px 0px;
  height: 20px;
  line-height: 20px;
  text-align: left;
  width: 200px;
}

#container .list .sort .item a:hover {
  text-decoration: underline;
}
