*{
    margin:0;
    padding: 0;
}
#main {
    position: relative;
    margin: 0 auto;
}
.outer {
    padding: 15px 5px 0px 5px;

    float: left;
}
.inner {
    padding: 10px;
    border:1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;

}
.inner img{
    width:165px;
    height: auto;
}